:root {
    --white-color-hero: #fff;
    --background-secondary: #2f303a;
    --color-accent: #212121;
    --color-primary: #757575;
    --color-hover: #2196f3;
    --color-button: #f5f4fA;
    --color-logo: #000;
    --font-family-primary: 'Roboto', sans-serif;
}

/*base*/
body {
    color: var(--color-accent);
    background-color: var(--color-button);
    font-size: 14px;
    font-family: var(--font-family-primary);
    letter-spacing: 0.03em;
    
}
/*header*/

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    text-decoration:none;
    color: var(--color-logo);
}
.web-logo {
    color: var(--color-hover);
}

.menu-link {
    font-weight: 500;
    text-decoration: none;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-accent);

    
}

.menu-link:hover {
    color: var(--color-hover);
}

.menu-link-current {
    color: var(--color-hover);
}

.contact-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--color-primary);
    text-decoration: none;
}

.contact-link:hover {
    color: var(--color-hover);
}
/* Hero section*/

.hero-background {
    background-color: var(--background-secondary);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--white-color-hero);
    text-transform: uppercase;
}

.button {
    font-size: inherit;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height :1.8;
    letter-spacing: 0.06em;
    color: var(--white-color-hero);
    background-color: var(--color-hover);
}

/*main*/

.title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    
}

.subtitle {
    line-height: 1.7;
    color: var(--color-primary);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team-text {
    font-size: 16;
    line-height: 16px;
    line-height: 1.18;
    color: var(--color-primary);
}

/*footer*/

.logo-footer {
    font-family: 'Raleway';
    color: var(--white-color-hero);
    font-size: 26px;
    text-decoration: none;
}

.footer-address {
    text-decoration: none;
    line-height: 1.71;
    color: var(--white-color-hero);
}

.footer-contacts {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
}



.footer-address:hover {
    color: var(--color-hover);
}

.footer-menu-link {
    line-height: 1.7;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.footer-menu-link:hover {
    color: var(--color-hover);
}


/*portfolio*/

.button-active {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    padding: 10px 32px;
    letter-spacing: 0.03em;
    line-height: 1.5;
    background-color: var(--color-button);
    
}

.button-active:hover {
    background-color: var(--color-hover);
    color: var(--white-color-hero);
}

.button-active:focus {
    background-color: var(--color-hover);
    color: var(--white-color-hero);
}


.portfolio-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.8;
    color: var(--color-primary);
}